@{
    Layout = "~/Views/Shared/_LayoutCopy.cshtml";
    ViewData["Title"] = "Add sportsman";
}
@model CoreFramework.Sportsman

<div class="row justify-content-lg-cehter">
    <h2>Add new sportsman</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" asp-controller="Sportsmans" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">Surname</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class=" form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="idTitle" class="control-label">Title</label>
                <select asp-for="idTitle" class=" form-control">
                    <option selected="selected">  </option>
                    @foreach (var title in CoreFramework.ConnectionUser.GetTitles().ToList())
                    {
                        <option value="@title.idTitle">@title.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label">Height</label>
                <input asp-for="Height" class=" form-control" />
                <span asp-validation-for="Height"></span>
            </div>
            <div class="form-group">
                <label asp-for="idCommand" class="control-label">Command</label>
                <select asp-for="idCommand" class=" form-control">
                    <option selected="selected">  </option>
                    @foreach (var command in CoreFramework.ConnectionCommands.GetCommands().ToList())
                    {
                        <option value="@command.idCommand">@command.Name</option>
                    }
                </select>
            </div>
            <legend>Добавить изображение</legend>
            <p>
                <input name="ImageData" type="file" class="form-control" />
            </p>
            <div class="form-group">
                <input type="submit" value="Add" class=" btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to sportsmans list</a>
</div>
