<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="connection" value="server=192.168.111.254;user=guzel;database=Competition;port=3306;password=20032003"/>
  </appSettings>
  <connectionStrings>
    <add name="Competition"
         connectionString="Server=LAPTOP-JGOOHR1O\SQLEXPRESS;Database=CompetitionExam;Trusted_Connection=True;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>