@{
    ViewData["Title"] = "Page admin";
}
<h3>
    <a asp-controller="Sportsmans" asp-action="Index">Спортсмены</a>
    <a asp-controller="Commands" asp-action="Index">Команды</a>
    <a asp-controller="Competition" asp-action="Index">Соревнования</a>
    <a asp-controller="Result" asp-action="Index">Результаты соревнований</a>
</h3>
<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <img src="~/images/logoCompet.png" width="900" height="500" class="round" />
</div>
