<?xml version="1.0" encoding="utf-8"?>
<configuration>

  
   <connectionStrings>
    <add name="Competition"
         connectionString="Server=LAPTOP-JGOOHR1O\SQLEXPRESS;Database=CompetitionExam;Trusted_Connection=True;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>