@{
    ViewData["Title"] = "Home Page";
}
@model Final_Project_ASP_MVC.ViewModels.LoginViewModel
    <h2>
        <a asp-controller="Account" asp-action="Login">Вход</a>
        <a asp-controller="Account" asp-action="Register">Регистрация</a>
    </h2>
    <div class="text-center">

        <h1 class="display-4">Welcome</h1>
        <img src="~/images/logoCompet.png" width="900" height="500" class="round" />
    </div>
