@{
    Layout = "~/Views/Shared/_LayoutSponsor.cshtml";
    ViewData["Title"] = "Sponsorship";
}
@model Core.Sponsorship

<div class="row justify-content-lg-center">
    <h1>Add new command for sponsorship</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div class="form-group">
                <label asp-for="Command" class="control-label">Command</label>
                <select asp-for="Command" class=" form-control">
                    <option selected="selected">  </option>
                    @foreach (string command in Core.Connection.GetNameCommands())
                    {
                        <option>@command</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SponsorName" class="control-label">Name</label>
                <input asp-for="SponsorName" class=" form-control" value=@Core.Connection.Name />
            </div>
            <div class="form-group">
                <label asp-for="SponsorSurname" class="control-label">Surname</label>
                <input asp-for="SponsorName" class=" form-control" value=@Core.Connection.Surname />
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Amount</label>
                <input asp-for="Amount" class=" form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="teamContract" class="control-label">Contract</label>
                <input asp-for="teamContract" class=" form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class=" btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to results list</a>
</div>
