@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
@model RunningCompetitionsASP_MVC.ViewModels.LoginViewModel
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <img src="~/images/mainLogo2.jpg" width="750" height="450" class="round" />
    </div>
