@{
    Layout = "~/Views/Shared/_LayoutCopy.cshtml";
    ViewData["Title"] = "Result competition";
}
@model Core.Result

<div class="row justify-content-lg-center">
    <h1>Add new result competition</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div class="form-group">
                <label asp-for="Command" class="control-label">Command</label>
                <select asp-for="Command" class=" form-control">
                    <option selected="selected">  </option>
                    @foreach (string command in Core.Connection.GetNameCommands())
                    {
                        <option>@command</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Compet" class="control-label">Competition</label>
                <select asp-for="Compet" class=" form-control">
                    <option selected="selected">  </option>
                    @foreach (string compet in Core.Connection.GetNameCompets())
                    {
                        <option>@compet</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Rank" class="control-label">Rank</label>
                <input asp-for="Rank" class=" form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class=" btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to results list</a>
</div>
