@{
    Layout = "~/Views/Shared/_LayoutCopy.cshtml";
    ViewData["Title"] = "Add command";
}
@model CoreFramework.Command

<div class="row justify-content-lg-cehter">
    <h2>Add new command</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" asp-controller="Commands" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Name" class="control-label">Name</label><br />
                <input asp-for="Name" class=" form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Count" class="control-label">Count people</label><br />
                <input asp-for="Count" class=" form-control" />
                <span asp-validation-for="Count"></span>
            </div>
            <div>
                <label asp-for="ID_city" class="control-label">City</label><br />
                <select asp-for="ID_city" class=" form-control">
                    <option selected="selected">  </option>
                    @foreach (var city in CoreFramework.ConnectionUser.GetCities().ToList())
                    {
                        <option value="@city.idCity">@city.Name</option>
                    }
                </select>
            </div>
            <legend>Добавить изображение</legend>
            <p>
                <input name="ImageData" type="file" asp-for="Image" class="form-control" />
            </p>
            <div>
                <input type="submit" value="Add" class=" btn btn-primary" />
            </div>
        </form>
       
    </div>
</div>

<div>
    <a asp-action="Index">Back to commands list</a>
</div>

